.login-container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    gap: 100px;
    background-color: var(--background-warm);
}

.welcome-container {
    margin-top: 10%;
    max-width: 400px;
    text-align: center;
}

.welcome-container .welcome-h2 {
    font-size: 25px;
    font-family: var(--font-heading);
    color: var(--text-warm);
}

.welcome-container img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 20%;
}

.welcome-container .welcome-p {
    color: var(--text-warm);
    font-family: var(--font-heading);
}

.login-box {
    max-width: 350px;
    height: 100%;
    padding: 20px;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    text-align: center;
    margin: 70px 0 0 0;
    font-family: var(--font-subheading);
}

.login-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--text-dark);
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.social-icons .button-icons {
    display: flex;
    align-items: center;
    height: 2rem;
    border: 1px solid var(--light-gray);
    background-color: var(--background-light);
    border-radius: 5px;
    color: var(--text-medium);
    padding: 0 5px;
}

.social-icons .button-icons .p-icons {
    margin: 0 0 0 4px;
    color: var(--text-warm);
    font-family: var(--font-subheading);
    font-size: 13px;
}

.login-form .form-input {
    width: 95%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    font-size: 14px;
    color: var(--text-medium);
    transition: border-color 0.3s;
    background-color: var(--background-color);
}

.login-form .form-input:focus {
    outline: none;
    border-color: var(--text-light);
    box-shadow: none;
}

.login-form .form-input:hover {
    border-color: var(--text-light);
}

.login-form .login-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--color-accent);
    color: var(--color-button-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.login-form .login-button:hover {
    background-color: rgba(58, 9, 44, 0.85);
    color: var(--color-button-text);
}

.button-olvide-contrasena {
    text-align: start;
}

.button-olvide-contrasena button {
    border: none;
}

.button-olvide-contrasena button a {
    padding: 2px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    color: var(--text-warm);
    text-decoration: none;
}

.login-footer {
    font-size: 12px;
    color: var(--text-warm);
    margin-top: 10px;
}

.custom-link {
    color: var(--button-warm);
    text-decoration: none;
}

.custom-link:hover {
    text-decoration: underline;
}

.form-input.error {
    border-color: var(--color-error-message)
}

@media screen and (max-width: 768px) {
    .login-container {
        flex-direction: column;
        align-items: center;
        gap: 0;
        min-height: 0vh;
    }

    .welcome-container,
    .login-box {
        max-width: 90%;
    }
}

@media screen and (max-width: 480px) {

    .login-title {
        font-size: 1.25rem;
    }

    .login-form .form-input,
    .login-form .login-button {
        font-size: 14px;
        padding: 10px;
    }

    .login-container {
        background-color: var(--background-warm);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        position: relative;
        top: 70px;
        min-height: 0vh;
    }

    .welcome-container {
        margin-top: 0;
        max-width: 400px;
        text-align: center;
    }

    .welcome-container .welcome-h2 {
        font-size: 2.4rem;
        line-height: 1.3em;
        margin: 40px 0 30px;
        font-family: var(--font-heading), sans-serif;
        font-weight: var(--font-heading-weight);
        font-style: var(--font-heading-style);
        color: #4a3933;
    }

    .welcome-container img {
        display: none;
    }

    .welcome-container .welcome-p {
        font-size: var(--font-size-body-base);
        line-height: 1.5em;
        font-family: var(--font-body), Georgia;
        color: #5a4a42;
        margin: 0 20px;
    }

    .login-box {
        max-width: 300px;
        height: 100%;
        padding: 20px;
        background-color: var(--background-color);
        box-shadow: var(--box-shadow);
        border-radius: 10px;
        text-align: center;
        font-family: var(--font-subheading);
        margin-bottom: 10rem;
    }

    .login-title {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 20px;
        color: var(--text-dark);
    }

    .social-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .social-icons .button-icons {
        display: flex;
        align-items: center;
        height: 2rem;
        border: 1px solid var(--light-gray);
        background-color: var(--background-light);
        border-radius: 5px;
        color: var(--text-medium);
        padding: 0 5px;
    }

    .social-icons .button-icons .p-icons {
        margin: 0 0 0 4px;
        color: var(--text-warm);
        font-family: var(--font-subheading);
        font-size: 13px;
    }

    .login-form .form-input {
        width: 95%;
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid var(--light-gray);
        border-radius: 5px;
        font-size: 14px;
        color: var(--text-medium);
        transition: border-color 0.3s;
        background-color: var(--background-color);
    }

    .login-form .form-input:focus {
        outline: none;
        border-color: var(--text-light);
        box-shadow: none;
    }

    .login-form .form-input:hover {
        border-color: var(--text-light);
    }

    .login-form .login-button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
        background-color: var(--color-accent);
        color: var(--color-button-text);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-top: 10px;
    }

    .login-form .login-button:hover {
        background-color: rgba(58, 9, 44, 0.85);
        color: var(--color-button-text);
    }

    .button-olvide-contrasena {
        text-align: start;
    }

    .button-olvide-contrasena button {
        padding: 2px;
        margin: 5px;
        border-radius: 5px;
        border: none;
        color: var(--text-warm);
        background-color: transparent;
    }

    .button-olvide-contrasena button a {
        padding: 2px;
        margin: 5px;
        border-radius: 5px;
        border: none;
        color: var(--text-warm);
        text-decoration: none;
    }

    .login-footer {
        font-size: 12px;
        color: var(--text-warm);
        margin-top: 10px;
    }

    .custom-link {
        color: var(--button-warm);
        text-decoration: none;
    }

    .custom-link:hover {
        text-decoration: underline;
    }

    .form-input.error {
        border-color: var(--color-error-message)
    }

}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .login-container {
        justify-content: center;
        min-height: 100vh;
        gap: 100px;
        background-color: var(--background-warm);
    }

    .welcome-container {
        margin-top: 10%;
        max-width: 400px;
        text-align: center;
    }

    .welcome-container .welcome-h2 {
        font-size: 2rem;
        font-family: var(--font-heading);
        color: var(--text-warm);
    }

    .welcome-container .welcome-p {
        color: var(--text-warm);
        font-family: var(--font-heading);
    }

    .login-box {
        max-width: 350px;
        padding: 20px 30px;
        background-color: var(--input-background);
        border-radius: 10px;
        margin: 50px 0;
    }

    .login-title {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 12px 0 20px;
        color: var(--text-warm);
    }

    .login-form .form-input {
        width: 92%;
        margin-bottom: 15px;
        padding: 12px;
        border: 1px solid var(--input-border);
        border-radius: 5px;
        font-size: 16px;
        color: var(--text-warm);
        background-color: var(--input-background);
    }

    .login-form .form-input:hover {
        border-color: var(--accent-warm);
    }

    .login-form .form-input:focus {
        border-color: var(--accent-warm);
        box-shadow: 0 0 0 2px rgba(139, 122, 107, 0.2);
    }

    .login-form .login-button {
        width: 100%;
        padding: 12px;
        font-size: 18px;
        font-weight: bold;
        background-color: var(--color-accent);
        color: var(--color-button-text);
    }

    .login-form .login-button:hover {
        background-color: rgba(58, 9, 44, 0.85);
        color: var(--color-button-text);
    }

    .login-footer {
        font-size: 14px;
        color: var(--text-warm);
    }

    .custom-link {
        color: var(--button-warm);
    }

    .custom-link:hover {
        text-decoration: underline;
    }

    .form-input:focus {
        outline: none;
        border-color: #007bff;
    }

    .form-input.error {
        border-color: var(--color-error-message)
    }

    .button-olvide-contrasena button {
        padding: 2px;
        margin: 5px 0;
        border-radius: 5px;
        border-radius: 5px;
        background-color: transparent;
        color: var(--text-warm);
    }

    .button-olvide-contrasena button a {
        text-decoration: none;
        color: var(--text-warm);
        font-family: var(--font-subheading);
    }
}