.carousel-container-d {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-top: 30px;
  padding: 40px;
  background-color:var(--pale-silver); 
  box-shadow: 0 10px 20px (--champagne-pink);
  overflow: hidden;
  padding-left: 35px; 
}

.slider-container {
  position: relative;
  flex: 2;
  max-width: 55%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 8px 16px var(--champagne-pink); 
  background-color:var(--gray-color);
}

.slider-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.7s ease-in-out; 
}

.slider-image {
  flex-shrink: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px; 
  filter: brightness(95%); 
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  border: none;
  padding: 15px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: background 0.3s ease;
}

.slider-button:hover {
  background: rgba(255, 255, 255, 1);
}

.slider-button-left {
  left: 10px; 
}

.slider-button-right {
  right: 10px;
}

.slider-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active, .dot:hover {
  background-color: var(--secondary-color);
}

.side-images {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 35px; 
}

.side-images img {
  width: 100%;
  object-fit: fill;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  height: 11.5rem;
}

.side-images img:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
  cursor: pointer;
}
