@import '../../styles/variables.css';

body {
  margin: 0%;
}

.header {
  background-color: #191919;
  padding: 20px 0;
}

.header-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

.menu-categories {
  display: flex;
  align-items: center;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.menu-button svg {
  width: 24px;
  height: 24px;
  fill: white;
}

.categories-text {
  color: white;
  margin-left: 10px;
  font-family: var(--font-montserrat);
  font-weight: var(--font-heading-weight);
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-family: var(--font-logo);
  font-weight: var(--font-logo-weight);
}

.logo-m {
  color: #3498db;
}

.logo-g {
  color: #ED00AA;
}

.logo-s {
  color: #e67e22;
}

.logo a {
  text-decoration: none;
}

.search-bar {
  display: flex;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 0;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
  border: 3px solid transparent;
}

.search-bar input {
  border: none;
  padding: 10px 15px;
  margin: 0;
  width: 300px;
  box-sizing: border-box;
  outline: none;
  font-family: var(--font-montserrat);
  font-weight: var(--font-heading-weight);
}

.search-bar:hover,
.search-bar:focus-within {
  border-color: #e67e22;
}

.search-bar button {
  background: none;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.search-bar button svg {
  width: 20px;
  height: 20px;
  fill: #191919;
}

.nav-links {
  display: flex;
  align-items: center;
}

.wt-icon svg {
  width: 28px;
  height: 28px;
  fill: var(--color-bg);
}

.user-profile {
  display: flex;
  cursor: pointer;
  padding: 5px 5px;
  border-radius: 30px;
}

.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 3px;
}

.user-profile:hover,
.user-profile-wrapper.active .user-profile {
  background-color: #ccebff;
}

.user-info {
  display: block;
  position: absolute;
  top: 12%;
  left: 83%;
  transform: translateX(-50%) translateY(10px);
  background-color: #122868;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: var(--clg-effect-sem-shadow-elevation-3, 0px 1px 3px 0px #0000004d, 0px 4px 8px 3px #00000026);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
  z-index: 10;
  color: var(--color-bg);
  border-radius: 6px;
  font-family: Graphik Webfont, -apple-system, Helvetica Neue, Droid Sans, Arial, "sans-serif";
  font-size: 12.99px;
  font-weight: 400;
  line-height: 1.4;
}

.user-info::after {
  content: '';
  position: absolute;
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #122868 transparent;
  z-index: 2;
}

.user-profile:hover .user-info {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(8px);
  transition-delay: 0s;
  color: #e0e0e0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.dropdown-menu {
  position: absolute;
  right: 20%;
  top: 75px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 20;
  width: 225px;
  border-radius: 10px;
}

.dropdown-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--color-accent);
  border-radius: 4px 4px 0 0;
}

.dropdown-header .profile-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.dropdown-header .view-profile-btn {
  border: none;
  background-color: transparent;
  color: var(--color-button-text);
  letter-spacing: .1299px;
  font-family: Graphik Webfont, -apple-system, Helvetica Neue, Droid Sans, Arial, "sans-serif";
  font-size: 12.99px;
  font-weight: 400;
  line-height: 1.4;

}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 11px;
}

.dropdown-menu li {
  padding: 5px 0;
}

.dropdown-menu li a,
.dropdown-menu li button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 0;
  width: 100%;
}

.dropdown-menu li a svg {
  fill: currentColor;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  display: inline-block;

}

.dropdown-menu li button svg {
  fill: currentColor;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  display: inline-block;

}

.message-text {
  margin: 5px;
  letter-spacing: .1299px;
  font-family: Graphik Webfont, -apple-system, Helvetica Neue, Droid Sans, Arial, "sans-serif";
  font-size: 12.99px;
  font-weight: 400;
  line-height: 1.4;
}

.dropdown-menu li a:hover,
.dropdown-menu li button:hover {
  background-color: #F5F5F5;
}

.dropdown-menu::after {
  content: '';
  position: absolute;
  top: -10px;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  border-color: transparent transparent var(--color-accent) transparent;
  z-index: 2;
}

.user-name {
  display: none;
  font-weight: bold;
  margin-right: 12px;
  margin-bottom: 6px;
}

.logout-button {
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
  padding: 0;
  margin-top: 8px;
  text-align: left;
  width: 100%;
}

.logout-button:hover {
  color: #e0e0e0;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-size: 14px;
  font-family: var(--font-montserrat);
  font-weight: var(--font-heading-weight);
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 15px;
  padding: 0;
}

.icon-button svg {
  width: 24px;
  height: 24px;
  fill: white;
}

.bi-bell {
  padding: 10px 10px;
  border-radius: 30px;
  background-color: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.bi-bell svg {
  width: 24px;
  height: 24px;
  fill: white;
  transition: fill 0.3s ease;
}

.bi-bell:hover {
  background-color: #ccebff;
  border-radius: 50px;
}

.bi-bell:hover svg {
  fill: #3498db;
}


.nav-link:hover,
.icon-button:hover svg {
  opacity: 0.8;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

/* Móviles pequeños (hasta 575px) */
@media only screen and (min-width: 351px) and (max-width: 575px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0;
  }

  .header-content {
    max-width: 480px;
    margin: 0 auto;
    flex-direction: column;
    padding: 20px;
  }

  .menu-button svg {
    width: 22px;
    height: 22px;
    fill: white;
    display: none;
  }

  .menu-button {
    display: none;
  }

  .categories-text {
    color: white;
    margin-left: 10px;
    font-size: 14px;
    font-family: var(--font-montserrat);
    font-weight: var(--font-heading-weight);
    display: none;
  }

  .logo-text {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 20px;
    margin: 8px;
    font-family: var(--font-logo);
    font-weight: var(--font-logo-weight);
    display: none;
  }

  .search-bar {
    width: 93%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 0;
    font-family: var(--font-roboto);
    height: 2.2rem;
    position: relative;
    margin-top: 0;
    display: flex;
    justify-content: space-evenly;
  }

  .search-bar input {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    border: none;
    padding: 10px 15px;
    margin: 0;
    font-size: 14px;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none box;
    font-family: var(--font-montserrat);
    font-weight: var(--font-heading-weight);
  }

  .search-bar:hover {
    border: 3px solid #e67e22;
  }

  .search-bar button {
    background: none;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    background-color: var(--lights-gray);
  }

  .search-bar button svg {
    width: 17px;
    height: 17px;
    fill: #191919;
  }

  .nav-links {
    position: absolute;
    right: 2%;
    top: 0;
    margin: 8px;
  }

  .nav-link {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-size: 14px;
    font-family: var(--font-montserrat);
    font-weight: var(--font-heading-weight);
    display: none;
  }

  .profile-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 3px;
  }

  .icon-button {
    width: 2.2rem;
    height: 2.2rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 15px;
    padding: 0;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-button:hover {
    background-color: #ccebff;
    fill: #3498db;
  }

  .icon-button svg {
    width: 20px;
    height: 20px;
    fill: white;
    transition: fill 0.2s ease;
  }

  .icon-button.corazon {
    display: none;
  }

  .icon-button:hover svg {
    fill: #3498db;
  }

  .user-profile {
    display: none;
  }
}

/* Móviles grandes y tablets pequeñas (576px - 767px) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0;
  }

  .header-content {
    max-width: 540px;
    margin: 0 auto;
    padding: 10px 34px;
  }

  .menu-button svg {
    width: 22px;
    height: 22px;
    fill: white;
    display: none;
  }

  .menu-button {
    display: none;
  }

  .categories-text {
    color: white;
    margin-left: 10px;
    font-size: 14px;
    font-family: var(--font-montserrat);
    font-weight: var(--font-heading-weight);
    display: none;
  }

  .logo-text {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 20px;
    margin: 8px;
    font-family: var(--font-logo);
    font-weight: var(--font-logo-weight);
    display: none;
  }

  .search-bar {
    width: 93%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 0;
    font-family: var(--font-roboto);
    height: 2.2rem;
    position: relative;
    top: -10px;
    /* Añadido para subir el search-bar */
    margin: 0 auto;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
  }

  .search-bar input {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    border: none;
    padding: 10px 15px;
    margin: 0;
    font-size: 14px;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none box;
    font-family: var(--font-montserrat);
    font-weight: var(--font-heading-weight);
  }

  .search-bar:hover {
    border: 3px solid #e67e22;
  }

  .search-bar button {
    background: none;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    background-color: var(--lights-gray);
  }

  .search-bar button svg {
    width: 17px;
    height: 17px;
    fill: #191919;
  }

  .nav-links {
    position: absolute;
    right: 2%;
    top: 0;
    margin: 8px;
  }

  .nav-link {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-size: 14px;
    font-family: var(--font-montserrat);
    font-weight: var(--font-heading-weight);
    display: none;
  }

  .icon-button {
    width: 2.2rem;
    height: 2.2rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 15px;
    padding: 0;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-button:hover {
    background-color: #ccebff;
    fill: #3498db;
  }

  .icon-button svg {
    width: 20px;
    height: 20px;
    fill: white;
    transition: fill 0.2s ease;
  }

  .icon-button.corazon {
    display: none;
  }

  .icon-button:hover svg {
    fill: #3498db;
  }

  .user-profile {
    display: none;
  }
}

/* Tablets (768px - 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-content {
    max-width: 720px;
    margin: 0 auto;
  }

  .header {
    position: fixed;
    /* Cambiar a 'sticky' si lo prefieres */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    /* Asegúrate de que esté en la parte superior */
  }

  .menu-button svg {
    width: 22px;
    height: 22px;
    fill: white;
    display: none;
  }

  .menu-button {
    display: none;
  }

  .categories-text {
    color: white;
    margin-left: 10px;
    font-size: 14px;
    font-family: var(--font-montserrat);
    font-weight: var(--font-heading-weight);
    display: none;
  }

  .logo-text {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;

  }

  .search-bar {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 0;
    font-family: var(--font-roboto);
    height: 2.2rem;
  }

  .search-bar input {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    border: none;
    padding: 10px 15px;
    margin: 0;
    font-size: 14px;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none;
    font-family: var(--font-montserrat);
    font-weight: var(--font-heading-weight);
  }

  .search-bar:hover {
    border: 3px solid #e67e22;
  }

  .search-bar button {
    background: none;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    background-color: var(--lights-gray);
  }

  .search-bar button svg {
    width: 17px;
    height: 17px;
    fill: #191919;
  }

  .nav-link {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-size: 14px;
    font-family: var(--font-montserrat);
    font-weight: var(--font-heading-weight);
    display: none;
  }

  .icon-button {
    width: 2.3rem;
    height: 2.3rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 15px;
    padding: 0;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-button:hover {
    background-color: #ccebff;
    fill: #3498db;
  }

  .icon-button svg {
    width: 20px;
    height: 20px;
    fill: white;
    transition: fill 0.2s ease;
  }

  .icon-button:hover svg {
    fill: #3498db;
  }
}

/* Pantallas de escritorio pequeñas (992px - 1199px) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header {
    padding: 15px;
  }

  .header-content {
    max-width: 960px;
    margin: 0;
  }

  .menu-button svg {
    width: 22px;
    height: 22px;
    fill: white;
  }

  .categories-text {
    color: white;
    margin-left: 10px;
    font-size: 14px;
    font-family: var(--font-montserrat);
    font-weight: var(--font-heading-weight);
  }

  .logo-text {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-family: var(--font-logo);
    font-weight: var(--font-logo-weight);
  }

  .search-bar {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 0;
    font-family: var(--font-roboto);
    height: 2.2rem;
  }

  .search-bar input {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    border: none;
    padding: 10px 15px;
    margin: 0;
    font-size: 14px;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none;
    font-family: var(--font-montserrat);
    font-weight: var(--font-heading-weight);
  }

  .search-bar:hover {
    border: 3px solid #e67e22;
  }

  .search-bar button {
    background: none;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    background-color: var(--lights-gray);
  }

  .search-bar button svg {
    width: 17px;
    height: 17px;
    fill: #191919;
  }

  .nav-link {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-size: 14px;
    font-family: var(--font-montserrat);
    font-weight: var(--font-heading-weight);
  }

  .profile-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 3px;
  }

  .icon-button {
    width: 2.3rem;
    height: 2.3rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 15px;
    padding: 0;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-button:hover {
    background-color: #ccebff;
    fill: #3498db;
  }

  .icon-button svg {
    width: 20px;
    height: 20px;
    fill: white;
    transition: fill 0.2s ease;
  }

  .icon-button:hover svg {
    fill: #3498db;
  }
}

/* Pantallas de escritorio medianas (1200px - 1399px) */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .header-content {
    max-width: 1180px;
  }

  .menu-button svg {
    width: 25px;
    height: 25px;
    fill: white;
  }

  .categories-text {
    color: white;
    margin-left: 10px;
    font-size: 16px;
    font-family: var(--font-montserrat);
    font-weight: var(--font-heading-weight);
  }

  .menu-categories {
    position: relative;
    cursor: pointer;
  }

  .menu-button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .menu-button svg {
    width: 30px;
    height: 30px;
  }

  .category-menu {
    position: absolute;
    top: 4.1rem;
    left: -60px;
    width: 240px;
    max-height: 480px;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
    border-radius: 4px;
  }

  .category-item {
    display: flex;
    align-items: center;
    text-align: center;
    transition: transform 0.2s;
  }

  .category-item:hover {
    transform: scale(1.05);
  }

  .category-item img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
  }

  .category-item span {
    margin: 5px;
    letter-spacing: .1299px;
    font-family: Graphik Webfont, -apple-system, Helvetica Neue, Droid Sans, Arial, "sans-serif";
    font-size: 12.99px;
    font-weight: 400;
    line-height: 1.4;
    color: #333;
  }


  .logo-text {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-family: var(--font-logo);
    font-weight: var(--font-logo-weight);
  }

  .search-bar {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 0;
    height: 2.5rem;
  }

  .search-bar input {
    width: 340px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    padding: 10px 15px;
    margin: 0;
    font-size: 14px;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none;
    font-family: var(--font-montserrat);
    font-weight: var(--font-heading-weight);
  }

  .search-bar:hover {
    border: 3px solid #e67e22;
  }

  .search-bar button {
    background: none;
    border: none;
    padding: 7px 15px;
    cursor: pointer;
    background-color: var(--lights-gray);
  }

  .search-bar button svg {
    width: 23px;
    height: 23px;
    fill: #191919;
  }

  .nav-link {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-size: 16px;
    font-family: var(--font-montserrat);
    font-weight: var(--font-heading-weight);
  }

  .profile-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 3px;
  }

  .wt-icon svg {
    width: 28px;
    height: 28px;
    fill: var(--color-bg);
  }

  .user-profile {
    display: flex;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 30px;
  }

  .user-profile:hover,
  .user-profile-wrapper.active .user-profile {
    background-color: #ccebff;
  }

  .user-info {
    display: block;
    position: absolute;
    top: 11.3%;
    left: 76%;
    transform: translateX(-50%) translateY(10px);
    background-color: #122868;
    padding: 10px 13px;
    border-radius: 8px;
    box-shadow: var(--clg-effect-sem-shadow-elevation-3, 0px 1px 3px 0px #0000004d, 0px 4px 8px 3px #00000026);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
    z-index: 10;
    color: var(--color-bg);
    border-radius: 6px;
    font-family: Graphik Webfont, -apple-system, Helvetica Neue, Droid Sans, Arial, "sans-serif";
    font-size: 12.99px;
    font-weight: 400;
    line-height: 1.4;
  }

  .user-info::after {
    content: '';
    position: absolute;
    top: -14px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #122868 transparent;
    z-index: 2;
  }

  .user-profile:hover .user-info {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(8px);
    transition-delay: 0s;
    color: #e0e0e0;
  }

  .icon-button {
    width: 2.6rem;
    height: 2.6rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 15px;
    padding: 3px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
  }

  .icon-button:hover {
    background-color: #ccebff;
    fill: #3498db;
  }

  .icon-button svg {
    width: 25px;
    height: 25px;
    fill: white;
    transition: fill 0.2s ease;
  }

  .icon-button:hover svg {
    fill: #3498db;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .header-content {
    max-width: 1320px;
  }

  .menu-button svg {
    width: 30px;
    height: 30px;
    fill: white;
  }

  .categories-text {
    color: white;
    margin-left: 10px;
    font-size: 18px;
    font-family: var(--font-montserrat);
    font-weight: var(--font-heading-weight);
  }

  .logo-text {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-family: var(--font-logo);
    font-weight: var(--font-logo-weight);
  }

  .search-bar {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 0;
    font-family: var(--font-roboto);
    height: 2.8rem;
  }

  .search-bar input {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    border: none;
    padding: 10px 15px;
    margin: 0;
    font-size: 17px;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none;
    font-family: var(--font-montserrat);
    font-weight: var(--font-heading-weight);
  }

  .search-bar:hover {
    border: 3px solid #e67e22;
  }

  .search-bar button {
    background: none;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    background-color: var(--lights-gray);
  }

  .search-bar button svg {
    width: 25px;
    height: 25px;
    fill: #191919;
  }

  .nav-link {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-size: 18px;
    font-family: var(--font-montserrat);
    font-weight: var(--font-heading-weight);
  }

  .icon-button {
    width: 2.8rem;
    height: 2.8rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 15px;
    padding: 0;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-button:hover {
    background-color: #ccebff;
    fill: #3498db;
  }

  .icon-button svg {
    width: 30px;
    height: 30px;
    fill: #ffffff;
    transition: fill 0.2s ease;
  }

  .icon-button:hover svg {
    fill: #3498db;
  }

  .icon-button svg {
    width: 30px;
    height: 30px;
    fill: white;
    transition: fill 0.2s ease;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1820px) {
  .header-content {
    max-width: 1565px;
  }

  .menu-button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .menu-button svg {
    width: 30px;
    height: 30px;
    fill: white;
  }

  .categories-text {
    color: white;
    margin-left: 10px;
    font-size: 20px;
    font-family: var(--font-montserrat);
    font-weight: var(--font-heading-weight);
  }
  .category-menu {
    position: absolute;
    top: 25%;
    width: 240px;
    max-height: 480px;
    overflow-y: auto;
    background-color: #F3F4F6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
    border-radius: 4px;
  }

  .category-item {
    display: flex;
    align-items: center;
    text-align: center;
    transition: transform 0.2s;
  }

  .category-item:hover {
    transform: scale(1.05);
  }

  .category-item img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
  }

  .category-item span {
    margin: 5px;
    letter-spacing: .1299px;
    font-family: Graphik Webfont, -apple-system, Helvetica Neue, Droid Sans, Arial, "sans-serif";
    font-size: 12.99px;
    font-weight: 400;
    line-height: 1.4;
    color: #333;
  }

  .logo-text {
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-family: var(--font-logo);
    font-weight: var(--font-logo-weight);
  }

  .search-bar {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 0;
    font-family: var(--font-roboto);
  }

  .search-bar input {
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    border: none;
    padding: 10px 15px;
    margin: 0;
    font-size: 17px;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none;
    font-family: var(--font-montserrat);
    font-weight: var(--font-heading-weight);
  }

  .search-bar:hover {
    border: 3px solid #e67e22;
  }

  .search-bar button {
    background: none;
    border: none;
    padding: 9px 15px;
    cursor: pointer;
    background-color: var(--lights-gray);
  }

  .search-bar button svg {
    width: 35px;
    height: 35px;
    fill: #191919;
  }

  .nav-link {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-size: 20px;
    font-family: var(--font-montserrat);
    font-weight: var(--font-heading-weight);
  }

  .dropdown-menu {
    position: absolute;
    right: 19%;
    top: 100px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 20;
    width: 225px;
    border-radius: 10px;
  }

  .dropdown-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--color-accent);
    border-radius: 4px 4px 0 0;
  }

  .dropdown-header .profile-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }

  .dropdown-header .view-profile-btn {
    border: none;
    background-color: transparent;
    color: var(--color-button-text);
    letter-spacing: .1299px;
    font-family: Graphik Webfont, -apple-system, Helvetica Neue, Droid Sans, Arial, "sans-serif";
    font-size: 12.99px;
    font-weight: 400;
    line-height: 1.4;

  }

  .dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 11px;
  }

  .dropdown-menu li {
    padding: 5px 0;
  }

  .dropdown-menu li a,
  .dropdown-menu li button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 0;
    width: 100%;
  }

  .dropdown-menu li a svg {
    fill: currentColor;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    display: inline-block;

  }

  .dropdown-menu li button svg {
    fill: currentColor;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    display: inline-block;

  }

  .message-text {
    margin: 5px;
    letter-spacing: .1299px;
    font-family: Graphik Webfont, -apple-system, Helvetica Neue, Droid Sans, Arial, "sans-serif";
    font-size: 12.99px;
    font-weight: 400;
    line-height: 1.4;
  }

  .dropdown-menu li a:hover,
  .dropdown-menu li button:hover {
    background-color: #F5F5F5;
  }

  .dropdown-menu::after {
    content: '';
    position: absolute;
    top: -10px;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    border-color: transparent transparent var(--color-accent) transparent;
    z-index: 2;
  }

  .wt-icon svg {
    width: 35px;
    height: 35px;
    fill: var(--color-bg);  
  }

  .user-name {
    display: none;
    font-weight: bold;
    margin-right: 12px;
    margin-bottom: 6px;
  }

  .user-profile {
    display: flex;
    cursor: pointer;
    padding: 7px 8px;
    border-radius: 30px;
  }

  .profile-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 3px;
  }

    .user-profile:hover,
    .user-profile-wrapper.active .user-profile {
      background-color: #ccebff;
    }
  
    .user-info {
      display: block;
      position: absolute;
      top: 16%;
      left: 79%;
      transform: translateX(-50%) translateY(10px);
      background-color: #122868;
      padding: 10px 15px;
      border-radius: 8px;
      box-shadow: var(--clg-effect-sem-shadow-elevation-3, 0px 1px 3px 0px #0000004d, 0px 4px 8px 3px #00000026);
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
      z-index: 10;
      color: var(--color-bg);
      border-radius: 6px;
      padding: 10px;
      font-family: Graphik Webfont, -apple-system, Helvetica Neue, Droid Sans, Arial, "sans-serif";
      font-size: 12.99px;
      font-weight: 400;
      line-height: 1.4;
    }
  
    .user-info::after {
      content: '';
      position: absolute;
      top: -14px;
      left: 50%;
      transform: translateX(-50%);
      border-width: 8px;
      border-style: solid;
      border-color: transparent transparent #122868 transparent;
      z-index: 2;
    }
  
    .user-profile:hover .user-info {
      visibility: visible;
      opacity: 1;
      transform: translateX(-50%) translateY(8px);
      transition-delay: 0s;
      color: #e0e0e0;
    }

  .icon-button {
    width: 3.4rem;
    height: 3.4rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 15px;
    padding: 0;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-button:hover {
    background-color: #ccebff;
    fill: #3498db;
  }

  .icon-button:hover svg {
    fill: #3498db;
  }

  .icon-button svg {
    width: 25px;
    height: 25px;
    fill: white;
    transition: fill 0.2s ease;
  }
}

/* Pantallas muy grandes (más de 1820px) */
@media only screen and (min-width: 1820px) {
  

  .menu-button svg {
    width: 35px;
    height: 35px;
    fill: white;
  }

  .categories-text {
    color: white;
    margin-left: 10px;
    font-size: 23px;
    font-family: var(--font-montserrat);
    font-weight: var(--font-heading-weight);
  }

  .logo-text {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-family: var(--font-logo);
    font-weight: var(--font-logo-weight);
  }

  .search-bar {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 0;
    font-family: var(--font-roboto);
  }

  .search-bar input {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    border: none;
    padding: 10px 15px;
    margin: 0;
    font-size: 17px;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none;
    font-family: var(--font-montserrat);
    font-weight: var(--font-heading-weight);
  }

  .search-bar:hover {
    border: 3px solid #e67e22;
  }

  .search-bar button {
    background: none;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    background-color: var(--lights-gray);
  }

  .search-bar button svg {
    width: 28px;
    height: 28px;
    fill: #191919;
  }

  .icon-button {
    width: 3.4rem;
    height: 3.4rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 15px;
    padding: 0;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-button:hover {
    background-color: #ccebff;
    fill: #3498db;
  }

  .icon-button:hover svg {
    fill: #3498db;
  }

  .nav-link {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-size: 22px;
    font-family: var(--font-montserrat);
    font-weight: var(--font-heading-weight);
  }

  .icon-button svg {
    width: 35px;
    height: 35px;
    fill: white;
    transition: fill 0.2s ease;
  }
}