.title-set-your-new-password {
    color: var(--text-warm);
    font-size: 16px;
    letter-spacing: .48px;
    font-family: Graphik Webfont, -apple-system, Helvetica Neue, Droid Sans, Arial, "sans-serif";
    font-weight: 300;
    line-height: 1.15;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px){
    .title-set-your-new-password {
    color: var(--text-warm);
    font-size: 16px;
    letter-spacing: .48px;
    font-family: Graphik Webfont, -apple-system, Helvetica Neue, Droid Sans, Arial, "sans-serif";
    font-weight: 300;
    line-height: 1.15;
   }
}