:root {
    --point-size: 10px;
    --point-opacity: 1;
    --point-color: #000000;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.container-all {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    text-align: center;
}

/* Animations */
@keyframes snow {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(calc(100vh + 50px));
    }
}

@keyframes astronaut {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Star boxes */
.box-of-star1,
.box-of-star2,
.box-of-star3,
.box-of-star4 {
    width: 100%;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
}

.box-of-star1 { animation: snow 5s linear infinite; }
.box-of-star2 { animation: snow 5s -1.64s linear infinite; }
.box-of-star3 { animation: snow 5s -2.30s linear infinite; }
.box-of-star4 { animation: snow 5s -3.30s linear infinite; }

/* Points */
.point {
    width: var(--point-size);
    height: var(--point-size);
    border-radius: 50%;
    background-color: var(--point-color);
    position: absolute;
    z-index: 10;
    opacity: var(--point-opacity);
}

/* Astronaut */
.astronaut {
    width: 250px;
    height: 300px;
    position: absolute;
    z-index: 11;
    top: calc(50% - 150px);
    left: calc(50% - 125px);
    animation: astronaut 5s linear infinite;
}

.schoolbag {
    width: 100px;
    height: 150px;
    position: absolute;
    z-index: 1;
    top: calc(50% - 75px);
    left: calc(50% - 50px);
    background-color: #94b7ca;
    border-radius: 50px 50px 0 0 / 30px 30px 0 0;
}

.head {
    width: 97px;
    height: 80px;
    position: absolute;
    z-index: 3;
    background: linear-gradient(to right, #e3e8eb 50%, #fbfdfa 50%);
    border-radius: 50%;
    top: 34px;
    left: calc(50% - 47.5px);
}

.head:after {
    content: "";
    width: 60px;
    height: 50px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 30px);
    background: linear-gradient(to bottom, #15aece 50%, #0391bf 50%);
    border-radius: 15px;
}

.head:before {
    content: "";
    width: 12px;
    height: 25px;
    position: absolute;
    top: calc(50% - 12.5px);
    left: -4px;
    background-color: #618095;
    border-radius: 5px;
    box-shadow: 92px 0px 0px #618095;
}

.body {
    width: 85px;
    height: 100px;
    position: absolute;
    z-index: 2;
    background: linear-gradient(to right, #e3e8eb 50%, #fbfdfa 50%);
    border-radius: 40px / 20px;
    top: 105px;
    left: calc(50% - 41px);
}

.panel {
    width: 60px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: calc(50% - 30px);
    background-color: #b7cceb;
}

.panel:before {
    content: "";
    width: 30px;
    height: 5px;
    position: absolute;
    top: 9px;
    left: 7px;
    background-color: #fbfdfa;
    box-shadow: 0px 9px 0px #fbfdfa, 0px 18px 0px #fbfdfa;
}

.panel:after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 9px;
    right: 7px;
    background-color: #fbfdfa;
    border-radius: 50%;
    box-shadow: 0px 14px 0px 2px #fbfdfa;
}

.arm {
    width: 80px;
    height: 30px;
    position: absolute;
    top: 121px;
    z-index: 2;
}

.arm-left {
    left: 30px;
    background-color: #e3e8eb;
    border-radius: 0 0 0 39px;
}

.arm-right {
    right: 30px;
    background-color: #fbfdfa;
    border-radius: 0 0 39px 0;
}

.arm-left:before,
.arm-right:before {
    content: "";
    width: 30px;
    height: 70px;
    position: absolute;
    top: -40px;
}

.arm-left:before {
    border-radius: 50px 50px 0px 120px / 50px 50px 0 110px;
    left: 0;
    background-color: #e3e8eb;
}

.arm-right:before {
    border-radius: 50px 50px 120px 0 / 50px 50px 110px 0;
    right: 0;
    background-color: #fbfdfa;
}

.arm-left:after,
.arm-right:after {
    content: "";
    width: 30px;
    height: 10px;
    position: absolute;
    top: -24px;
}

.arm-left:after {
    background-color: #6e91a4;
    left: 0;
}

.arm-right:after {
    right: 0;
    background-color: #b6d2e0;
}

.leg {
    width: 30px;
    height: 40px;
    position: absolute;
    z-index: 2;
    bottom: 70px;
}

.leg-left {
    left: 76px;
    background-color: #e3e8eb;
    transform: rotate(20deg);
}

.leg-right {
    right: 73px;
    background-color: #fbfdfa;
    transform: rotate(-20deg);
}

.leg-left:before,
.leg-right:before {
    content: "";
    width: 50px;
    height: 25px;
    position: absolute;
    bottom: -26px;
}

.leg-left:before {
    border-radius: 0px 10px 0 0px / 0px 40px 0px 40px;
    left: 0;
    background-color: #e3e8eb;
}

.leg-right:before {
    border-radius: 10px 0px 0px 0 / 40px 0px 40px 0;
    right: 0;
    background-color: #fbfdfa;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 0;
    margin-top: auto;
}


@media (min-width: 1024px) {
    .astronaut {
        width: 300px;
        height: 350px;
        top: calc(50% - 175px);
        left: calc(50% - 150px);
    }
    
    .not-found {
        font-size: 9rem;
        color: #3A092C;
        padding-top: 13rem;
    }

    .not-found-404 {
        font-size: 10rem;
        color: #3A092C;
    }
    
    .leg-left, .leg-right {
        width: 40px;
        height: 50px;
    }

    .point-position1 { top: 5%; left: 10%; }
    .point-position2 { top: 20%; left: 30%; }
    .point-position3 { top: 40%; left: 50%; }
    .point-position4 { top: 60%; left: 70%; }
    .point-position5 { top: 80%; left: 90%; }
    .point-position6 { top: 90%; left: 70%; }
    .point-position7 { top: 70%; left: 40%; }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .astronaut {
        width: 250px;
        height: 300px;
        top: calc(50% - 150px);
        left: calc(50% - 125px);
    }
    
    .not-found {
        font-size: 8rem;
        color: #3A092C;
    }

    .not-found-404 {
        font-size: 8rem;
        color: #3A092C;
    }
    
    .leg-left, .leg-right {
        width: 35px;
        height: 45px;
    }

    .point-position1 { top: 10%; left: 20%; }
    .point-position2 { top: 25%; left: 40%; }
    .point-position3 { top: 45%; left: 60%; }
    .point-position4 { top: 65%; left: 80%; }
    .point-position5 { top: 85%; left: 50%; }
    .point-position6 { top: 75%; left: 30%; }
    .point-position7 { top: 55%; left: 10%; }
}

@media (max-width: 767px) {
    
    
    .not-found {
        font-size: 6rem;
        color: #3A092C;
    }

    .not-found-404 {
        font-size: 6rem;
        color: #3A092C;
    }
    
    .leg-left, .leg-right {
        width: 25px;
        height: 35px;
    }

    .point-position1 { top: 10%; left: 20%; }
    .point-position2 { top: 25%; left: 40%; }
    .point-position3 { top: 45%; left: 60%; }
    .point-position4 { top: 65%; left: 80%; }
    .point-position5 { top: 85%; left: 50%; }
    .point-position6 { top: 75%; left: 30%; }
    .point-position7 { top: 55%; left: 10%; }
}